*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: inherit;
    font-size: 10px;
}
body {
    background-color: #fafafa;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 0.3px;
}
.wrapper {
    max-width: 1380px;
    width: calc(100% - 50px);
    margin: 0 auto;
}
.header {
    background-color: #071555;
    color: #fff;
    padding: 44px 0 36px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navigation {
    display: flex;
    gap: 42px;
    align-items: center;
}

.logo {
    font-family: "Inter";
    font-size: 3rem;
    font-weight: 700;
    line-height: 37.5px;
    text-transform: uppercase;
}

.list {
    display: flex;
    gap: 30px;
    padding: 9.5px 22px;
}
.list-item a {
    text-decoration: none;
    color: #fff;
}
.list-item a:hover {
    color: #bbb;
}
.header__input {
    padding: 8px;
    padding-left: 36px;
    color: black;
    font-family: inherit;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.93);
    border: none;
    outline: none;
    background-image: url(../images/_Magnifyingglass.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 8px;
}
.header__input:focus {
    scale: 0.98;
}
/* Hero section */
.hero {
    background-color: #071555;
    color: #fcfcfc;
}
.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21.5px 0 75.8px;
}
.hero__content {
    max-width: 611px;
}
.hero__title {
    font-size: 7rem;
    font-weight: 500;
    line-height: 80px;
    margin-bottom: 32px;
}
.hero__text {
    margin-bottom: 32px;
    max-width: 557px;
}
.btn {
    padding: 13px 52px 13px 43px;
    border-radius: 20px;
    background: linear-gradient(51deg, #5c80ff 0%, #1a52e4 100%);
    border: none;
    color: #fff;
    text-align: center;
    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.btn:hover {
    filter: brightness(95%);
}
.btn:active {
    scale: 0.98;
}
.hero__banner {
    width: 611px;
    padding: 33.57px 26.27px 17.2px 27.41px;
    background-image: url(../images/hero-pattern.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.banner__image {
    border-radius: 20px;
    overflow: hidden;
}
.banner__image img {
    width: 100%;
    display: flex;
}
/* hero banner */
/* service section start */
.service {
    padding: 90px 0;
    background-image: url(../images/service-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 45% 72%;
}
.service__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service__content {
    max-width: 418px;
}
.service__title {
    color: #0c0b0b;
    font-size: 6rem;
    margin-bottom: 32px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0.5px;
}
.service__text {
    color: #888484;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.35px;
    margin-bottom: 32px;
}
.service__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 50px;
    background-image: url(../images/service-pattern.svg),
        url(../images/service-pattern.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    width: 743px;
    height: 747px;
}
.card {
    color: #000;
    width: 308px;
    height: 316px;

    background-color: #fff;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05),
        -2px 2px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 37px 26px;
    transition: scale 0.2s;
}
.card:hover {
    scale: 1.02;
}
.card-violet {
    border-top: #d1b4fb 2.663px solid;
}
.card-teal {
    border-top: 2.663px solid #59bfe0;
}
.card-blue {
    border-top: 2.663px solid #1a52e4;
}
.card-pink {
    border-top: 2.663px solid #fa8586;
}
.card-violet svg {
    fill: #d1b4fb;
}
.card-teal svg {
    fill: #59bfe0;
}
.card-blue svg {
    fill: #1a52e4;
}
.card-pink svg {
    fill: #fa8586;
}
.card__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 23px;
}

.card__title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.35px;
    margin-bottom: 13px;
}
.card__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
}
/* service section end */
/* about section start */
.about {
    padding: 126px 0 121px;
}
.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__content {
    max-width: 620px;
}
.about__title {
    color: #0c0b0b;
    font-size: 6rem;
    font-weight: 600;
    line-height: 50px; /* 83.333% */
    letter-spacing: 0.5px;
    margin-bottom: 32px;
}
.about__title span {
    color: #1a52e4;
}
.about__title::before {
    display: block;
    content: "";
    width: 74px;
    height: 6px;
    background: #1a52e4;
    margin-bottom: 24px;
}
.about__text {
    color: #888484;
    line-height: 32px; /* 200% */
    letter-spacing: 0.8px;
    margin-bottom: 32px;
}
.about__video {
    max-width: 620px;
    box-shadow: 37.19px 40.28px 0px 0px #e6ebff;
}
.video-img {
    position: relative;
}
.video-img img {
    width: 100%;
    display: block;
}
.video-img svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.video-img svg:hover {
    filter: brightness(95%);
}
/* about section end  */
/* news section start  */
.news {
    padding: 132px 0 173px;
    overflow: hidden;
}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.news__title {
    color: #111;
    font-size: 6rem;
    font-weight: 600;
    line-height: 50px; /* 83.333% */
    letter-spacing: 0.5px;
}
.btn-square {
    border-radius: 10px;
    padding: 0 3px 2px;
}
.btn-square:first-child {
    transform: rotate(180deg);
}
.btn-square img {
    display: block;
    width: 100%;
}
.news__cards {
    display: flex;
    gap: 40px;
}
.news__box {
    width: 308px;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.news__image {
    display: block;
    width: 100%;
}
.news__box-content {
    padding: 12px 20px 23px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.news__box-title {
    color: #000;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.3px;
    margin-bottom: 12px;
    flex-grow: 1;
}
.news__date-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__date {
    color: #888484;
    line-height: 14px; /* 87.5% */
    letter-spacing: 0.3px;
}
/* news section end  */
/* join us  */
.join-us {
    background-color: #29b6ff;
    padding: 56px 54px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -100px;
    margin-bottom: -100px;
    position: relative;
}
.join-us__title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 50px; /* 83.333% */
    letter-spacing: 0.5px;
}
.btn-join {
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 23px 95px 23px 78px;
}
/*  footer section start  */
.footer {
    background-color: #071555;
    padding: 182px 148px 100px;
}
.footer__columns {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding-bottom: 120px;
    margin-bottom: 120px;
}

.column {
    flex: 1;
}
.column__title {
    color: #fff;
    font-family: "DM Sans";
    font-size: 2rem;
    font-weight: 700;
    line-height: 22px; /* 110% */
    margin-bottom: 40px;
    width: max-content;
}
.column__list {
    color: #6f6c90;
    font-family: "DM Sans";
    font-size: 1.8rem;
    line-height: 20px; /* 111.111% */
}
.column__list-item {
    margin-bottom: 18px;
}

.footer__form {
    margin-top: 24px;
}
.footer__form input {
    display: block;
    width: 100%;
    padding: 25px 23px;
    border-radius: 108px;
    border: 1px solid #d9dbe9;
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
    outline: none;
    color: #6f6c90;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 16px;
}
.btn-subscribe {
    border-radius: 76px;
    padding: 18px 24px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    background: #4a3aff;
}
.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright__text {
    color: #6f6c90;
    font-family: "DM Sans";
    font-size: 1.8rem;
    font-style: normal;
    line-height: 20px;
}
.social-media-list {
    display: flex;
    align-items: center;
    gap: 22px;
}
/* footer section end  */
